*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
    .header{
        height:100vh;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bg.webp);
        background-position: center ;
        color: #fff;
        background-size: cover;
    }
    nav{
        display: flex;
        padding: 20px 100px;
        align-items: center;
    }
    nav img{
        width: 150px; 
        margin-left: -100px;
        }
    nav ul{
        text-align: right;
        display: inline;
        list-style: none;
        flex: 1;
    }
    nav ul li{
        display: inline-block;
        margin: 0 20px;
    }
    .main-text{
        margin: 15% auto;
        text-align: center;
         text-decoration: none;
        display: block;
    }
    .main-text h1{
         font-size: 50px;
    }
    .main-text .button{
        text-decoration: none;
        display: block;
        width: 140px;
        height: 35px;
        margin: 25px auto;
        color: #fff;
        line-height: 35px;
        border: 1 solid #fff; 
      
    }
    .button:hover{
        background: #fff;
        color:black;
        transition: 0.5s;
    }
    .font{
        font-family: Arial, Helvetica, sans-serif;
        color: goldenrod;
        background: #000;
        opacity:0.8;
        text-align: center;
    }
    .first {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .second {
        background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .third {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    
    .fourth {
        background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .fifth {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .sixth {
        background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .seventh {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .eighth {
        background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .ninth {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .tenth {
        background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .eleventh {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .twelveth {
        background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .thirteenth {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .fourteenth {
        background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    .fifteenth {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    .sixtheenth{
        background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;}
        .seventeenth {
            background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;}
            .eighteenth {
                background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;}
                .ninteenth {
                    background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;}

                    .text{
                        font-family: 'Times New Roman', Times, serif;
                        text-align: center;
                        
                    }
                    .bg:hover
                    {
                        transition: 0.5s;
                        background: rgb(254, 254, 254);
                        color:black;
                        text-decoration: none;
                        display: block;
                        width: 140px;
                        height: 35px;
                        margin: 25px auto;
                        color: rgb(0, 0, 0);
                        line-height: 35px;
                        border: 1 solid rgb(0, 0, 0); 
                    }
                    .arham{
                        font-size: 100px;
                        background: linear-gradient(to right,rgb(67,124,205),rgb(0, 238, 255));
                        size-adjust: 10%;
                        transition: 0.5s;
                        text-align: center;
                        animation: fade 1s ease-in 1s;
                    }



                    @keyframes fade {
                        0%{
                            opacity: 0;
                        }
                        100%{
                            opacity:1;
                        }
                    }
                    ul{
                        margin: 0px;
                        padding: 0px;
                        list-style-type: none;
                    }
                    ul li{
                        margin-top: 70px;
                        background: #fff;
                        height: 30px;
                        width: 120px;
                        line-height: 30px;
                        float: right;
                        border: 1px solid black;
                        text-align: center;
                    }
                    ul li a{
                        color: #000;
                        text-decoration: none;
                        display: block;
                        }
                        ul li a:hover{
                            background-color: aqua
                        }
                        ul li ul li{
                            display: none;
                        }
                        ul li:hover ul li{
                            display: block;
                        }